<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeelit.ts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_noshadow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_noshadow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".practice" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PWresetActivity" />
        <activity android:name=".Dummy" />
        <activity android:name=".AttemptTest"></activity>
    </application>

</manifest>